* {
  box-sizing: border-box;
}
body,
html {
  padding: 0;
  margin: 0 auto;
  text-align: justify;
  overflow-x: hidden;
  scroll-behavior: smooth;
  max-width: 1360px;
}

a {
  color: black;

  &:hover {
    color: red;
  }
}

#jumbotron {
}

h1 {
  padding: 70px 0;
  font-size: 6.5em;
  letter-spacing: 2px;
}

h2 {
  letter-spacing: 2px;
}

#proizvodi,
#o-nama {
  padding: 0 50px;
}

.jagode {
  // background: lightpink;
  border: 3px solid #ececae;
  padding: 10px;
}

.lesnici {
  // background: #dc8450;
  border: 3px solid #dc8450;
  padding: 10px;
}

footer {
  // height: 2em;
  // background-color: lightcoral;
  // border-top: 1px solid black;
  overflow: hidden;
  font-size: 12px;
}

textarea {
  resize: none;
}
